    /* UTILITY */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
    --grey:rgb(113, 113, 113);
    --softblack:rgba(14, 14, 15, 0.5);
    --darkblue:rgb(20, 25, 34);
    --green:rgb(173, 255, 47);
    --lightgrey:rgb(117, 116, 116);
}
.debug{
    border: 1px solid red;
}

.wrapper{
    max-width: 1200px;
    height: 100vh;
    background-color: black;
}
.dflex{
    display: flex;
}
.dflex-colum{
    display: flex;
    flex-direction: column;
}
h2{
    color: var(--white);
    padding: 1em;
}
p{
    color: var(--lightgrey);
    padding-left: 1em;
}
/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--darkblue); 
}
.inner-content{
    height: 100%;
    overflow: auto;
}
/* prima nav bar nel main */
.nav-main{
    width: 100%;
    color:var(--lightgrey) ;
    margin-top: 5em;
    padding: 5em;
   
}
.dflex-nav{
    display: flex;
    justify-content: center;

}
ul{
    list-style-type: none;
}
    
a{
    text-decoration: none;
    color:var(--lightgrey) ;
    padding: 1em;
}

.inner-content ul li a .active::after{
    content: "aaa";
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--green);
    margin: 5px auto;
}

/* card-songs */


.content-songs{
   width: 100%;
   padding-bottom: 4em;
    
}
.box-songs{
    text-align: center;
    width: calc( 100%/ 6);
    padding: 1em;
    cursor: pointer;
    position: relative;
  
}
.box-songs img{
    width: 100%;
}
h3{
    color: var(--white);
}
.box-songs p{
    color: var(--lightgrey);
}
/* immagini rotonde */

.radius{
    border-radius: 50%;
    object-fit: cover;
}
/* --------PROVA HOWER------------------------------------ */
.cover-image{
    position: relative;
}

.cover-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(14, 14, 15, 0.5);
    font-size: 2.5;
    display: none;
}

.box-songs:hover .cover-overlay{
    display: block;
}




/* ----------------------- */



/* .material-symbols-outlined{
    position: absolute;
    top:6%;
    left:2%;
    color: white;
    font-size: ;
    background-color: rgba(14, 14, 15, 0.5);
    width: 100%;
    height: 90%;
    padding-top: 0.5em;
   
} */
/* hover da fare */














/* NAV BAR LATERALE */
nav{
    width: 230px;
    height: 100%;
    background-color: var(--black);
}

/* PARTE DI SOPRA SFOCATA */
aside{
    width: 100%;
    height: 95px;
    background-color: var(--softblack);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* PLAYBAR */
.playbar{
    width: 100%;
    height: 95px;
    background-color: var(--grey);
    position: fixed;
    bottom: 0;
    z-index: 2000;
}
