    /* UTILITY */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
    --grey:rgb(113, 113, 113);
    --softblack:rgba(14, 14, 15, 0.5);
    --darkblue:rgb(20, 25, 34);
    --green:rgb(173, 255, 47);
    --lightgrey:rgb(117, 116, 116);
    --darkgrey:rgb(40, 40, 40);
}
.debug{
    border: 1px solid red;
}
.wrapper{
    max-width: 1200px;
    height: 100vh;
    background-color: black;
}
.dflex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-space-betwe{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}

.dflex-colum{
    display: flex;
    flex-direction: column;
}
h2{
    color: var(--white);
    padding: 1em;
}
p{
    color: var(--lightgrey);
    padding-left: 1em;
}
/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--darkblue); 
}
.inner-content{
    height: 100%;
    overflow: auto;
}
/* prima nav bar nel main */
.nav-main{
    width: 100%;
    color:var(--lightgrey) ;
    margin-top: 5em;
    padding: 5em;
}
.dflex-nav{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}  
a{
    text-decoration: none;
    color:var(--lightgrey) ;
    padding: 1em;
}
/* .inner-content ul li a .active::after{
    content: "aaa";
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--green);
    margin: 5px auto;
} */
/* card-songs */
.content-songs{
   width: 100%;
   padding-bottom: 4em;
    
}
.box-songs{
    text-align: center;
    width: calc( 100%/ 6 );
    padding: 1em;
    cursor: pointer;
    position: relative;
}
.box-songs img{
    width: 100%;
}
h3{
    color: var(--white);
}
.box-songs p{
    color: var(--lightgrey);
}
/* immagini rotonde */

.radius{
    border-radius: 50%;
    object-fit: cover;
}
/* --------PROVA HOWER------------------------------------ */
.cover-image{
    position: relative;
}
.cover-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(14, 14, 15, 0.5);
    display: none;
    font-size: 1,5;
}

.box-songs:hover .cover-overlay{
    display: flex;
}
/* ----------------------- */
/* NAV BAR LATERALE */
nav{
   
    width: 230px;
    height: 100%;
    background-color: var(--black);
    position: relative;
}
.big-logo{
    padding: 20px;
}
.home{
    width: 20%;
    padding-left: 20px;
}
.home h2{
    font-size: 1em;
}
.square{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: var(--lightgrey);
}
nav h3{
    color: var(--lightgrey);
    padding-left: 5px;
    font-size: 1em;
}
.lista-nav{
    padding-top: 1.3em;
}
.lista-nav li{
    padding-bottom: 1.3em;
}
.lista-nav ul li a {
    font-weight: 800;
    
}
.nav-bot{
    position: absolute;
    bottom: 0;
    z-index: 2200;
    width: 100%;
    height: 0px;
    padding-bottom: 6em;
}
.download{
    width: 25px;
    height: 25px;
    color: white;
}
.download1{
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
}
.nav-bot2{
    position: absolute;
    bottom: 0;
    z-index: 2500;
    width: 100%;
    height: 30px;
    padding-bottom: 3em;
   
}
.nav-bot2 h2{
    font-size: 1em;
}

/* PARTE DI SOPRA SFOCATA */
aside{
    width: 100%;
    height: 95px;
    background-color: var(--softblack);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* PLAYBAR */
.playbar{
    width: 100%;
    height: 95px;
    background-color: var(--darkgrey);
    position: fixed;
    bottom: 0;
    z-index: 2000;
}
.cont-play-1{
    /* width: 230px; */
    margin-top: 1em;
    width:calc(100%/ 3);
}
.cont-play-2{
  padding-top: 0.5em;
  /* width: 800px; */
  width:calc(100%/ 2);  
}
.cont-play-3{
    margin-top: 1em;
    width: calc(60% / 3);
    padding-right: 10px;
}
.song-player{
    width: 100%;
}
.song{
    width: 60px;
    height: 60px;
}
.player-n2{
    margin-left:20px ;
    padding-right: 20px;
}
.player-n{
    margin-left:20px ;
    margin-right: 20px;
}
.song h2{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 0;
}
.song p{
    padding-left: 10px;
    font-size: 12px;
    font-weight: 800;
}
.size-time-song{
    height: 8px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--lightgrey);
}
.time-sog h3{
    font-size: 12px;
    color: var(--lightgrey);
}
.volume-bar{
    width: 40%;
    height: 5px;
    background-color: var(--lightgrey);
}
/* simboli */
.material-symbols-outlined{
    padding: 5px;

}
.simbolo{
    color: var(--lightgrey);
    margin-top: 15px;
    margin-left: 12px;
    padding-right: 10px;
}
.simbolo2{
    color: var(--white);
    text-align: center;
}

/* --MEDIA QUERY-- */
@media screen and (max-width:1000px) {
    .main-content{
        width: 1000px;
    }
    .dflex-nav{
        
        justify-content:baseline;
    }
    .dflex-nav{
        flex-wrap: wrap;
       
    }
    
    .dflex-nav a{
            padding: 2em;
    }

   .volume-bar{
        width: 20%;
   }

   
}

/* Tablet */
@media screen and (max-width:768px) {
    .main-content{
        width: 768px;
    }
    .dflex-nav a{
        padding: 2em;
    }
    .nav-main{
        width: 100%;
        margin-top: 5em;
        padding: 2em;
    }
    .dflex-nav{
    justify-content:none;
    }

    .box-songs{ 
        width: calc( 100%/ 4);
        padding: 1em;
    }


}

/* PHONE */

@media screen and (max-width:425px) {
    .main-content{
        width: 425px;
    }
    .nav-main{
        width: 100%;
        margin-top: 12em;
        padding: 2em;
    }
}